@use 'sass:color';

// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

// Colors
$default: #e6e4e4;
$default-outline: #858585;
$primary: #0e2df9;
$secondary: #646cff;
$info: #00b4ff;
$success: #00b300;
$warning: #ffa600;
$danger: #ff393c;

* {
	font-family: 'Merriweather', serif;
}

:root {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	background-color: #ffffff;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.center {
	text-align: center;
}

h1 {
	font-size: 42px;
	color: #0c2f0c;
}

h2 {
	color: #194e19;
}

@mixin btn-theme($bg-color, $text-color) {
	background-color: $bg-color;
	border: 1px solid color.adjust($color: $bg-color, $lightness: -20%);
	color: $text-color;
	&:hover {
		background-color: color.adjust($color: $bg-color, $lightness: -5%);
	}
	&:focus,
	&:active {
		box-shadow: 0 0 0 2px color.adjust($color: $bg-color, $lightness: 10%);
		outline: none;
	}
	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}
}

@mixin btn-outline-theme($color, $text-color) {
	background-color: $text-color;
	border: 1px solid $color;
	color: $color;
	&:hover,
	&:active,
	&:focus {
		background-color: $color;
		color: $text-color;
	}
	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

.btn {
	padding: 12px 48px;
	border-radius: 6px;
	margin: 8px 32px;
	font-size: 16px;
	font-weight: 500;
	display: inline-block;
	cursor: pointer;
	@include btn-theme($default, #000000);

	&.primary {
		@include btn-theme($primary, #ffffff);
	}
	&.secondary {
		@include btn-theme($secondary, #ffffff);
	}
	&.info {
		@include btn-theme($info, #ffffff);
	}
	&.success {
		@include btn-theme($success, #ffffff);
	}
	&.warning {
		@include btn-theme($warning, #000000);
	}
	&.danger {
		@include btn-theme($danger, #ffffff);
	}
	&.btn-outline {
		@include btn-outline-theme($default-outline, #ffffff);
	}
	&.btn-primary-outline {
		@include btn-outline-theme($primary, #ffffff);
	}
	&.btn-secondary-outline {
		@include btn-outline-theme($secondary, #ffffff);
	}
	&.btn-info-outline {
		@include btn-outline-theme($info, #ffffff);
	}
	&.btn-success-outline {
		@include btn-outline-theme($success, #ffffff);
	}
	&.btn-warning-outline {
		@include btn-outline-theme($warning, #ffffff);
	}
	&.btn-danger-outline {
		@include btn-outline-theme($danger, #ffffff);
	}
}
